[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
typer = "*"
pytz = "*"
pymongo = "*"
mongoengine = "*"
pytest-mongodb = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"

[requires]
python_version = "3.11"
