{% extends "admin/index.html" %}
{% load i18n admin_urls static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" href="{% static "css/admin.css" %}">{% endblock %}

{% block javascripts %}{{ block.super }}<script type="text/javascript" src="{% static 'js/admin.js' %}"></script>{% endblock %}

{% block footer %}
    <div class="extra-menu">
        <div class="colMS">
            <p><a href="{% url 'sortlogs:show_tables' %}">{% translate "Show tables" %}</a></p>
            <p><a href="{% url 'sortlogs:graph_logs' %}">{% translate "Show grap" %}</a></p>
            <p><a href="{% url 'sortlogs:search_logs' %}">{% translate "Search logs" %}</a></p>
        </div>
    </div>
    {{ block.super }}
{% endblock %}