{% extends "admin/custom_base_site.html" %}
{% load i18n static support %}

{% block content %}
<h1>{% trans 'Graph logs' %}</h1>
<table id="result_list">
<thead>
    <tr>
    <th>*</th>
    {% for header in col_headers %}<th>{{ header }}</th>{% endfor %}
    </tr>
</thead>
<tbody>
    {% for row in table %}
        <tr>
        <th>
            {{ row_headers|get_row_header:forloop.counter0 }}
        </th>
            {% for col in row %}
                <td>
                    {% for el in col %}
                        <div>
                            <a href="{% url 'sortlogs:show_loaded_files' %}?table={{ el.table }}">{{ el.table }}</a>
                        </div>
                    {% endfor %}
                </td>
            {% endfor %}
        {% add_empty_td row col_headers %}
        </tr>
    {% endfor %}
</tbody>
</table>
{% endblock %}
