{% extends "admin/custom_base_site.html" %}
{% load i18n static %}

{% block content %}
<h1>{% trans 'Search logs' %}</h1>

<div id="out_form_test">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <div><input type="submit" name="search" value="{% trans "Search" %}"></div>
    </form>
<p>&nbsp;</p>
{% if pattern %}
    <div>{% translate "Results for pattern:" %} {{ pattern }}</div>
{% endif %}
<p> </p>
</div>

{% if logs_number %}
<hr>
<table class="log-list-table">
<tr>
    <th>{% translate "Link to logs" %}</th>
    <th>{% translate "From" %}</th>
    <th>{% translate "To" %}</th>
    <th>{% translate "Line numbers" %}</th>
</tr>
{% for pattern, ext in logs_number.items %}<tr><td><a href="{% url 'sortlogs:show_logs' %}?pattern={{ pattern }}">{{ pattern }}</a></td><td>{{ ext.0 }}</td><td>{{ ext.1 }}</td><td>{{ ext.2 }}</td></tr>{% endfor %}
</table>
{% endif %}
{% endblock %}
